.fader {
    background-color: black;
    background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    z-index: -1;
    animation: fadeOut 5s;
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

